.qmake.stash
Makefile
*.o
libsimExtMTB.1.0.0.dylib
libsimExtMTB.1.0.dylib
libsimExtMTB.1.dylib
libsimExtMTB.dylib
libsimExtMTB.so
libsimExtMTB.so.1
libsimExtMTB.so.1.0
libsimExtMTB.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
mocinclude.opt
*.pro.user
*.user
