.qmake.stash
Makefile
*.o
libv_repExtMtb.1.0.0.dylib
libv_repExtMtb.1.0.dylib
libv_repExtMtb.1.dylib
libv_repExtMtb.dylib
libv_repExtMtb.so
libv_repExtMtb.so.1
libv_repExtMtb.so.1.0
libv_repExtMtb.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
